*.db
*.opendb
Debug/
Release/
.suo
Lil game/Lil game/Game.cpp.orig
*.user
Pushlock/Pushlock/imgui.ini
*.aps
Pushlock/packages/
Pushlock/Pushlock/Element.cpp~RF1f086ac0.TMP
Pushlock/Pushlock/Element.cpp.orig
Pushlock/Pushlock/Renderer.h.orig
